# DATABASE CONFIG
DB_USER=Utilisateur de la base de données
DB_PASSWORD=Mot de passe de la base de données
DB_NAME=Nom de la base de données
DB_TYPE=Type de base de données (ex: postgresql, mysql, etc.)
DB_OUTPUT_PORT=Port de sortie pour la base de données (ex: 5432 pour PostgreSQL)
# DATABASE URL
DATABASE_URL=L'url de connexion à la base de données

# CACHE
REDIS_HOST=le host de votre serveur Redis (ex: localhost ou redis)
REDIS_PORT=port de sortie redis (ex: 6379)
REDIS_URL=l'url de connexion à Redis (ex: redis://redis:6379)

# SERVER CONFIG
API_PORT=port de l'API (ex: 3000)
NODE_ENV=environnement de l'application (ex: development, production)

# AUTH
JWT_SECRET=votre_cle_secrete_ici
JWT_EXPIRES_IN=durée_de_vie_du_token 
REFRESH_TOKEN_EXPIRES_IN=durée_de_vie_du_refresh_token