# NESTJS 
/dist
/thumbnails.db

# SECRETS
.env
.env.*
!.env.example

# PRISMA
# On garde le schema.prisma, mais on ignore le client généré localement
**/generated/prisma
/prisma/generated-client
migration_lock.toml

# TESTS
/coverage

# DEPENDANCES & BUILD
node_modules/
dist/
build/
.turbo/

# SYSTEME & IDE
.vscode/
.idea/
.DS_Store
*.log

# DOCKER
docker/data/